<!DOCTYPE html>
<html lang="ja" xmlns="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title th:text="${title}">insert title here</title>
</head>

<body>
  <h1 th:text="${title}">title</h1>
  <h2 th:text="${complete}">complete message</h2>
  <form method="post" action="#" th:action="@{/inquiry/confirm}" th:object="${inquiryForm}">
    <div>
      <label for="name">NAME:</label>
      <input id="name" name="name" type="text" th:value="*{name}">
      <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    </div>
    <div>
      <label for="email">EMAIL:</label>
      <input id="email" name="email" type="text" th:value="*{email}">
      <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    </div>
    <div>
      <label for="contents">CONTENTS:</label>
      <textarea id="contents" name="contents" rows="3" cols="40" th:field="*{contents}"></textarea>
      <div th:if="${#fields.hasErrors('contents')}" th:errors="*{contents}"></div>
    </div>
    <input type="submit" value="to confirm">
  </form>
</body>

</html>